---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Mis últimos proyectos</div>
  </div>

  <HorizontalCard
    title="Landing page de funnel de ventas para un libro de recetas saludables"
    img="/images/projects/recetas.jpg"
    desc="Un proyecto hecho para aumentar las ventas de un libro de recetas saludables."
    url="#"
    badge="Building"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FluxCommerce - Plantilla para E-Commerce"
    img="https://cdn.dribbble.com/userupload/10941474/file/original-51e19253d2e24b451787b302b56e6fc1.jpg?resize=752x564"
    desc="Un proyecto de un diseño de una plantilla para crear tiendas online conectadas a Shopify."
    url="https://dribbble.com/shots/22887127-Dark-ecommerce-template-modern-design-by-NanDev"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Control de citas para una clinica dental"
    img="https://github.com/marcoa16b/dental-system/raw/master/image.png"
    desc="El proyecto consiste en un sistema de control de citas para una clinica dental."
    url="https://github.com/marcoa16b/dental-system"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sarcasm IA"
    img="/images/projects/sarcasmai.png"
    desc="Proyecto para integrar un modelo de IA en una aplicacion web con Next.js usando streaming de datos."
    url="https://mc-coders-blog.vercel.app/"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Jivis - Control de empleados"
    img="/images/projects/jivis.png"
    desc="Una aplicación simple construida para llevar un control de los empleados de la empresa y los dias libres que tiene cada uno de ellos. El link adjunto lleva a una Demo que utiliza el almacenamiento del navegador para poder ver el funcionamiento general de la aplicación."
    url="https://github.com/nandev16/Jivis-SimplePWA"
  />
</BaseLayout>
